!!!
%head
	%meta{ :content => 'text/html;charset=UTF-8', :http => { :equiv => "content-type" } }/
	%link{ :href => '/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css' }/
	%link{ :href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css' }/
	%script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' }
	%script{ :type => 'text/javascript', :src => '/js/underscore-min.js' }
	%script{ :type => 'text/javascript', :src => '/js/backbone.js' }
	%script{ :type => 'text/javascript', :src => '/js/main.js' }
	%title aRSS Reader
%body#not_logged_in
	-# haml does not allow %script with html
	<script type="text/html" id="template_errormessage">
	%div#notification{ :class => "alert-message error fade in", "data-alert" => 'alert' }
		%a.close{:href => "#"}x
		%p
			<%= htmlentities(message) %>
	</script>
	<script type="text/html" id="template_subscription_list">
	%ul.unstyled
		%li
			%a{:href => "#subscription/allitems"} All items
		<% subscriptions.each(function (s) { %>
		%li <a href="#subscription/<%= s.escape('subscription_id') %>"><%= s.escape('title') %></a>
		<% }); %>
	</script>
	<script type="text/html" id="template_item">
	<% var subscription = user.get('subscriptions').at(user.get('subscriptions_index')[item.get('subscription_id')]) %>
	<article id="ItemView<%= item.get('item_id') %>" class="<%= item.get('unread') ? 'unread' : 'read' %>">
	%div.heading
		%div.feed
			<%= (subscription && subscription.escape) ? subscription.escape('title') : '' %>
		%div.title
			<%= item.escape('title') %>
		%div.date
			<% var date = new Date(item.get('timestamp') * 1000) %>
			<% var now = new Date() %>
			<% if ('' + date.getFullYear() + date.getMonth() + date.getDate() == '' + now.getFullYear() + now.getMonth() + now.getDate()) {%>
			<%= date.getHours() + ':' + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) %>
			<% } else { %>
			<%= date.getFullYear() + '-' + (date.getMonth()+1 < 10 ? '0' + date.getMonth()+1 : date.getMonth()+1) + '-' + (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) %>
			<% } %>
	%h3
		<a href="<%= item.escape('link') %>"><%= item.escape('title') %></a>
	%div.description
		<%= html_entities_decode(item.get('description')) %>
	</article>
	</script>
	%div{ :class => "topbar" }
		%div{ :class => "topbar-inner" }
			%div{ :class => "container" }
				%a{ :class => "brand", :href => '/' } aRSS Reader
				%div{ :class => "options" }
					%a#viewUnread{ :class => "btn small primary", :href => 'javascript:void(null);' } View Unread
					%a#viewAll{ :class => "btn small", :href => 'javascript:void(null);' } View All
				%ul{:class => "nav secondary-nav"}
					%li{:class => "menu", :id => "logout_box"}
						%a{ :href => "javascript:void(null);" } Logout
					%li{:class => "menu", :id => "login_register_box"}
						%a{ :href => "javascript:void(null);", "class" => "menu" } Login
						%ul{ :class => "menu-dropdown" }
							%li
								#register_box{:style => "display:none"}
									%form#register_form{:action => "#", :method => "post"}
										%label{:for => "register_email"} Email
										%input#register_email{:name => "register_email", :type => "text"}/
										%br/
										%label{:for => "register_password"} Password
										%input#register_password{:name => "register_password", :type => "password"}/
										%br/
										%label{:for => "confirm_register_password"} Repeat Password
										%input#confirm_register_password{:name => "confirm_register_password", :type => "password"}/
										%br/
										%input.button{:name => "submit", :type => "submit", :value => "Sign up"}/
									%a.login{:href => "javascript:void(0);"} Login
								#login_box
									%form#login_form{:action => "#", :method => "post"}
										%label{:for => "email"} Email
										%input#email{:name => "email", :type => "text"}/
										%br/
										%label{:for => "password"} Password
										%input#password{:name => "password", :type => "password"}/
										%br/
										%input.button{:name => "submit", :type => "submit", :value => "Login"}/
									%a.register{:href => "javascript:void(0);"} Sign up
	%div{ :class => "container-fluid" }
		%div{ :class => "sidebar" }
			%section#subscriptions
				%div#add_subscription_box
					%a.close{:href => "javascript:void(0);"} x
					%p Paste a feed url
					%input.large#new_subscription_url{ :type => "text" }
					%button.btn.primary#confirm_subscription Add
					%button.btn#cancel_subscription Cancel
					%p
						%em e.g.: googleblog.blogspot.com
				%button.btn#add_subscription Add
				%h3 Subscriptions
				%div{ :id => "subscription_list" }
		%div#user{ :class => "content" }
			#item_list
		%div#visitor{ :class => "content" }
